.footer-container {
  background: #071324;
  color: #ccd6f6;
  text-align: center;
  padding: 1rem;
  position: relative;
}
.footer-container .icons span {
  margin: 0 1.8rem;
  font-size: 1.2rem;
}
.footer-container span a {
  color: #ccd6f6;
}
.footer-container .subtitle {
  font-size: 0.8rem;
}

@media screen and (min-width: 1000px) {
  .footer-container .icons {
    display: none;
  }
}
